body {
    margin: 0;
    padding: 0;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family:  monospace;
    position: relative;
}

.card {
    position: relative;
    display: flex;
    flex-direction: column;
    border: 2px solid black;
    align-items: center;
    padding: 20px 30px;
    width: 200px;
    border-radius: 15px;
    
}   

main {
    display: flex;
    position: relative;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.description {
    
    border-bottom: 2px solid black;
    padding-bottom: 10px;
    text-align: center;
}

.package{
    margin: 0;
}

.bold{
    
    font-weight: 800;
    font-size: 50px;
    
    
}

.price {
    font-weight: 600;
    margin-bottom: 0px;
}

.sale{
    color: red;
  
}

button {
    background-color: white;
    border-radius: 8px;
    font-weight: 700;
    padding: 6px 12px;
    border: 2px solid black
}

#pro {
    background-color: red;
    color: white;
}

ul {
    list-style: circle;
    text-align: left;
    line-height: 25px;
    width: 100%;
}

.popular{
    position: absolute;
    border: 2px solid black;
    border-radius: 6px;
    padding: 6px 12px;
    background-color: red;
    color: white;
    top: -15px;
}

button:hover{
    color: white;
    background-color: black;
}

#popupOverlay {
    position: fixed;
    inset: 0;
    background-color: rgba(0, 0, 0, 0.5);

    display: flex;
    align-items: center;
    justify-content: center;

    z-index: 1;
}

#popupOverlay[hidden] {
    display: none;
}

.popup-box {
    background-color: white;
    padding: 30px;
    border-radius: 12px;
    text-align: center;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
}

.popup-box button {
    margin-top: 15px;
    cursor: pointer;
}